.react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
}

.react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
}

.react-calendar-heatmap .color-dark-empty {
    fill: #1E1E1E;
}

.react-calendar-heatmap .color-dark-filled {
    fill: #cfabfd;
}

.react-calendar-heatmap .color-dark-0 {
    fill: #1E1E1E;
}
.react-calendar-heatmap .color-dark-1 {
    fill: #e2cdfd;
}
.react-calendar-heatmap .color-dark-2 {
    fill: #cfabfd;
}
.react-calendar-heatmap .color-dark-3 {
    fill: #BB86FC;
}

.react-calendar-heatmap .color-default-empty {
    fill: #E0E0E0;
}

.react-calendar-heatmap .color-default-filled {
    fill: #4b45b2;
}

.react-calendar-heatmap .color-default-0 {
    fill: #E0E0E0;
}
.react-calendar-heatmap .color-default-1 {
    fill: #b995f6;
}
.react-calendar-heatmap .color-default-2 {
    fill: #9b66f4;
}
.react-calendar-heatmap .color-default-3 {
    fill: #8140f2;
}
