.app-header {
    display: flex;
    justify-content: center;
    align-items: center;

    &__toolbar {
        display: flex;
        justify-content: space-between;
        width: 700px;

        &__name-section {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2px;
        }

        &__logo {
            width: 28px;
            height: 28px;
        }
    }

    &__loader-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.app-content {
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        padding: 24px;
        padding-top: 12px;
        width: 700px;
    }
}

@media (max-width: 801px) {
    .app-header {
        &__toolbar {
            width: 100%;
        }
    }

    .app-content {
        &__body {
            width: 100%;
        }
    }
}
