.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 50%;
        padding: 24px;
        gap: 24px;

        &__control {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .account {
        &__body {
            width: 100%;
        }
    }
}