.organizations-view {
    &__search-section {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        &__buttons {
            display: flex;
            justify-content: space-between;
        }
    }

    &__collection-section {
        margin-top: 24px;
    }
}

.organizations-search {
    padding: 3px 4px;
    display: flex;
    align-items: center;
    min-height: 48px;
    height: 48px;
    width: 45%;

    &__input {
        flex: 1;
        margin-left: 15px;
    }
}

.organizations-collection {
    &__loader-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__collection-info {
        display: flex;
        justify-content: center;
    }
}

.organization {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 12px;
    }

    &__header-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        &__name {
            display: flex;
            justify-content:space-between;

            &__buttons {
                display: flex;
                align-items: flex-end;
                gap: 5px;
            }
        }
    }

    &__info-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 10px;

        &__horizontal_icon_text {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 10px;
        }

        &__info {
            padding-left: 34px;
            width: 100%;
        }
    }

    &__loader-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 801px) {
    .organizations-search {
        width: 70%;
    }
}