.events-view {
    &__search-section {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        &__buttons {
            display: flex;
            justify-content: space-between;
        }
    }

    &__filters-section {
        margin-top: 24px;
    }

    &__collection-section {
        margin-top: 24px;
    }

    &__calendar-section {
        margin-top: 24px;
    }
}

.events-breadcrumbs {
    &__loader-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.events-collection {
    &__loader-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__collection-info {
        display: flex;
        justify-content: center;
    }
}

.events-search {
    padding: 3px 4px;
    display: flex;
    align-items: center;
    min-height: 48px;
    height: 48px;
    width: 45%;

    &__input {
        flex: 1;
        margin-left: 15px;
    }
}

.events-filters {
    display: flex;
    flex-direction: column;

    &__title {
        display: flex;
        align-items: center;
    
        &__name {
            padding-right: 10px;
        }
    
        &__divider {
            flex: 1;
        }
    }

    &__main {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 8px;
        margin-bottom: 4px;
    }

    &__dropdown {
        min-width: 120px;
        width: 120px;
    }

    &__datefield {
        min-width: 120px;
        width: 120px;
    }
}

.events-sort {
    display: flex;
    flex-direction: column;

    &__title {
        display: flex;
        align-items: center;
    
        &__name {
            padding-right: 10px;
        }
    
        &__divider {
            flex: 1;
        }
    }

    &__main {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 8px;
        margin-bottom: 4px;
    }

    &__dropdown {
        min-width: 120px;
        width: 120px;
    }

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.events-calendar {
    display: flex;
    flex-direction: column;

    &__title {
        display: flex;
        align-items: center;
    
        &__name {
            padding-right: 10px;
        }
    
        &__divider {
            flex: 1;
        }
    }

    &__loader-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.event-files {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 12px;
    }

    &__header-section {
        display: flex;
        justify-content: flex-start;
    }

    &__breadcrumbs {
        &__loader-section {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
  
    &__loader-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }

.event {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 12px;
    }

    &__header-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        &__name {
            display: flex;
            justify-content:space-between;

            &__buttons {
                display: flex;
                align-items: flex-end;
                gap: 5px;
            }
        }
    }

    &__buttons-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    &__info-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 10px;

        &__horizontal_icon_text {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 10px;
        }

        &__info {
            padding-left: 34px;
            width: 100%;
        }
    }

    &__image-section {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 300px;
    
        &__image {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    &__loader-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 801px) {
    .events-search {
        width: 70%;
    }

    .event__image-section {
        height: 270px;
    }
}

// @media (max-width: 600px) {
//     .event {
//         &__image-section {
//             height: 220px;
//         }
//     }
// }

@media (max-width: 480px) {
    .event__buttons-section {
        align-items: flex-start;
        flex-direction: column;
    }
}

// @media (max-width: 320px) {
//     .event {
//         &__image-section {
//             height: 120px;
//         }
//     }
// }