.events-breadcrumbs {
    &__loader-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.events-collection {
    display: flex;
    flex-direction: column;

    &__loader-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}